.Event {
    padding-top: 20px;
    font-weight: 300;

    a {
        text-decoration: none;
    }

    .event_item {
        color: white;
        padding: 20px;
        border-radius: 12px;
        margin-right: 10px;
        margin-bottom: 20px;
        display: flex;
        background-color: var(--darkgray);
    }
    .event_item {
        .thumbnail {
            margin-right: 30px;
        }
        .event_info {
            display: grid;
            gap: 3px;
            .title {
                font-size: var(--regular);
                font-weight: 400;
            }
            .description {
                font-size: var(--small);
            }
            .tags {
                display: flex;
                .status_end {
                    background-color: var(--lightgray);
                    color: var(--gray);
                    font-weight: 700;
                    padding: 0px 10px;
                    width: fit-content;
                    border-radius: 20px;
                    font-size: var(--xsmall);
                    display: flex;
                    align-items: center;
                }
                .status_progress {
                    background-color: var(--primary_tag_bg);
                    color: var(--primary_tag);
                    font-weight: 700;
                    padding: 0px 10px;
                    width: fit-content;
                    border-radius: 20px;
                    font-size: var(--xsmall);
                    display: flex;
                    align-items: center;
                }
                .discount_rate {
                    margin-left: 10px;
                    background-color: var(--primary_tag_bg);
                    color: var(--primary_tag);
                    font-weight: 700;
                    padding: 0px 10px;
                    width: fit-content;
                    border-radius: 20px;
                    font-size: var(--xsmall);
                    display: flex;
                    align-items: center;
                }
            }
            .date {
                margin-top: 3px;
                font-size: var(--xsmall);
                color: var(--lightgray);
            }
        }
    }
}
