:root {
    //fontSize
    --large: 44px;
    --regular: 30px;
    --medium: 20px;
    --small: 15px;

    // color
    --purple: #ac94f4;
    --darkgray: #191919;
    --gray: rgb(68, 68, 68);
    --lightgray: rgb(172, 172, 172);
}

body {
    margin: 0;
}
