.Header {
    a {
        text-decoration: none;
    }
    width: 100%;
    border-bottom: var(--gray) 1px solid;
    background-color: var(--background);
    height: 60px;

    .main {
        height: 100%;
        .home {
            font-size: var(--medium);
            font-weight: 700;
            a {
                color: var(--primary);
            }
        }
        .menu {
            display: flex;

            .events_cliked {
                a {
                    color: var(--primary);
                }
            }
            .events {
                font-size: var(--small);
                a {
                    color: white;
                }
            }

            .events :hover {
                color: var(--primary);
                font-weight: 400;
            }
            .news_clicked {
                margin-left: 20px;
                a {
                    color: var(--primary);
                }
            }
            .news {
                margin-left: 20px;
                font-size: var(--small);
                a {
                    color: white;
                }
            }

            .news :hover {
                color: var(--primary);
                font-weight: 400;
            }
        }
    }

    @media (min-width: 801px) {
        .main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 750px;
            margin: 0 auto;
            padding: 0px 20px;
        }
    }
    @media (max-width: 800px) {
        .main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 600px;
            margin: 0 auto;
            padding: 0px 20px;
        }
    }
}
