.Home {
    background-color: #191919;
    height: 100vh;
    color: white;
    .header {
        border-bottom: var(--gray) 1px solid;
        background-color: #191919;
        opacity: 0.9;
        height: 60px;
        margin-bottom: 30px;
        position: sticky;
        top: 0;
    }
}
