.Layout {
    background-color: var(--darkgray);
    height: 100vh;
    color: white;
    .header {
        border-bottom: var(--gray) 1px solid;
        background-color: var(--darkgray);
        opacity: 0.9;
        height: 60px;
        margin-bottom: 30px;
        position: sticky;
        top: 0;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
}
