.Layout {
    background-color: var(--background);
    min-height: 100vh;
    color: white;
    padding-bottom: 30px;
    .header {
        margin-bottom: 30px;
        position: sticky;
        top: 0;
    }
    @media (min-width: 801px) {
        .main {
            max-width: 750px;
            margin: 0 auto;
            padding: 0px 20px;
        }
    }
    @media (max-width: 800px) {
        .main {
            max-width: 600px;
            margin: 0 auto;
            padding: 0px 20px;
        }
    }
}
